
.center {
    text-align: center;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin-bottom: 0;
    margin-top:0; 
}

img {
    max-width: 100%; /* This makes all your images responsive */
    margin-bottom: 0;
    margin-top: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   
    width: min(95%, 75rem);
    padding-bottom: 0; 
    margin: 0 auto; 
}
.container_lg {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   
    margin: 0 auto; 

}
.container > *, .container_lg > *{
    grid-column: span 12;
}

/* Container holding the image and the text */
.container_text {
    position: relative;
    text-align: center;
    color: white;
  }
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 120px;
    right: 40px;
  }

  /* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 100px;
    left: 40px;
  }


 /*button styles */
  .button-pink {
    background-color: #F97598; 
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 32px;
    width: 250px;
  }

  .button-purple {
    background-color: #CABDDC; 
    border: none;
    color: white;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 32px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 157px;
    
  }

  .button-green {
    background-color: #BAD249; 
    border: none;
    color: white;
    padding: 4px 60px;
    text-align: center;
    text-decoration: none;
    display:  block;
    font-size: 16px;
    border-radius: 32px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content:center;
    margin-left: 148px;
   
  }

  .button-white {
    background-color: #6C6CAD;; 
    border: none;
    color: #fff;
    padding: 4px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 32px;
    width: 250px;
  }
  /*text styles */

  h2 {
    font-family: 'Vast Shadow', cursive;
    color:#F97598; 
    font-size: 20px;
    padding-bottom: 10px;
    margin:0;
     
  }

  h3 {
    font-family: 'Vast Shadow', cursive;
    color:#F97598;
    font-size: 60px;
    margin: 0;
  }


  h4 {
    font-family: 'Vast Shadow', cursive;
    color:#F97598;
    font-size: 26px;
    margin: 0;
  }

  h5 {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;;
  }

  h6 {
    font-family: 'Vast Shadow', cursive;
    color: #fff;
    font-size: 64px;
    margin: 0;
  }

  h7 {
    font-family: 'Vast Shadow', cursive;
    color: #fff;
    font-size: 30px;
    margin: 0;
  }

  h8 {
    font-family: 'Times New Roman', Times, serif;
    color:#6C6CAD;
    font-size: 64px;
  }

  h1 {
    font-family: sans-serif;
    font-size: 12px;
    padding-bottom: 10px;
  }

  p {
    font-family: sans-serif;
    font-size: 14px;
    color: white;
  }

  .logo {
    width: 15%;
    padding-right: 200px;
  }
  
 /*nav icons */ 

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    padding-right: 100px;
    padding-left: 100px;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
    padding-right: 100px;
    padding-left: 100px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  padding-right: 100px;
  padding-left: 100px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  padding-right: 100px;
  padding-left: 100px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  padding-right: 100px;
  padding-left: 100px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding;
    overflow: hidden;
    display:block;

  }
  
  /* header */

  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #f3f3f3;
  }

   a. :visited {
    background-color: #BAD249; 
    border: none;
    color: white;
    padding: 4px 60px;
    text-align: center;
    text-decoration: none;
    display:  block;
    font-size: 16px;
    border-radius: 32px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content:center;
    margin-left: 148px;
  }
  /* image sizing */

  .img2 {
    max-width: 18%; 
  }

  .img3 {
    max-width: 8%; 
  }

.img4 {
    max-width: 60%;
}

/* vertical navagation for leggings page */

.vertical-menu {
    width: 200px; /* Set a width if you like */
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
  }




/* Media Queries for larger screens than 768px */
@media screen and (min-width: 48rem) {
    

    .col-span-2 {
        grid-column: span 2;
    }
    .col-span-3 {
        grid-column: span 3;
    }
    .col-span-4 {
        grid-column: span 4;
    }
    .col-span-5 {
        grid-column: span 5;
    }
    .col-span-6 {
        grid-column: span 6;
    }
    .col-span-7 {
        grid-column: span 7;
    }
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-9 {
        grid-column: span 9;
    }
    .col-span-10 {
        grid-column: span 10;
    }
    

} /* Closes the media query */